<!-- Side Panel -->
<div class="col-md-5">
    <div class="panel panel-default">
        <!-- Panel Title -->
        <div class="panel-heading">
            <h2 class="panel-title text-center">Unete al equipo de HeyPorAqui.com <span class="glyphicon glyphicon-map-marker"></span></h2>
        </div>
        <!-- Panel Body -->
        <div class="panel-body">
            <!-- Creates Form (novalidate disables HTML validation, Angular will control) -->
            <button class="btn btn-success btn-lg btn-block" ng-click="calculateDistance()">Calcular</button>
            <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Unidad</th>
                                    <th>Fecha</th>
                                    <th>Distancia</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr dir-paginate="position in positions|orderBy:sortKey:reverse|filter:search|itemsPerPage:12">
                                    <td>{{position.id}}</td>
                                    <td>{{position.created_at}}</td>
                                    <td>{{position.distance}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <dir-pagination-controls
                            max-size="5"
                            direction-links="true"
                            boundary-links="true" >
                        </dir-pagination-controls>

            <at-pagination at-list="list" at-config="config"></at-pagination>
        </div>
    </div>
</div>